# جدول Google Sheets
# https://docs.google.com/spreadsheets/d/1I7IS8-KC917YoYmC9CI7zIzqbYSvDohIIOPPo_uvWmw
VITE_SPREADSHEET_ID=1I7IS8-KC917YoYmC9CI7zIzqbYSvDohIIOPPo_uvWmw

# Google Form (الأسهل)
VITE_GOOGLE_FORM_ACTION=https://docs.google.com/forms/d/e/YOUR_FORM_ID/formResponse
VITE_FORM_ENTRY_NAME=entry.111111111
VITE_FORM_ENTRY_PHONE=entry.222222222
VITE_FORM_ENTRY_LEVEL=entry.333333333
VITE_FORM_ENTRY_TOPIC=entry.444444444
VITE_FORM_ENTRY_SCORE=entry.555555555
VITE_FORM_ENTRY_TIME=entry.666666666

# Apps Script (بديل)
VITE_SHEET_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID_HERE/exec

# EmailJS (اختياري)
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_NOTIFY_EMAIL=info@nathrahdata.com
